.menu {
  width: 100%;
  height: 30px;
  background-color: black;
  position: fixed;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

label {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.regenerate {
  margin-left: 0;
}

input {
  margin-right: 0;
}